build/
docs/
CMakeFiles
CMakeCache.txt
*.vcxproj
*.filters
cmake_install.cmake
*.sln
*.sdf
*.suo
*.opensdf
*.ipch
*.dir
Win32
Debug
Release
install_manifest.txt
*.user
.DS_Store
CPackConfig.cmake
CPackSourceConfig.cmake
*.wixobj
*.msi
autowiring-config.cmake
autowiring-configVersion.cmake
install_manifest_*.txt
*.cmake
Testing
DartConfiguration.tcl
