build/
docs/
CMakeFiles
CMakeCache.txt
*.vcxproj
*.filters
cmake_install.cmake
*.sln
*.sdf
*.suo
*.opensdf
*.ipch
*.dir
*.lib
Win32
Debug
Release
install_manifest.txt
*.user
.DS_Store
*.wixobj
autowiring-config.cmake
autowiring-configVersion.cmake
install_manifest_*.txt
*.cmake
!toolchain-*.cmake
Testing
DartConfiguration.tcl
autowiring-*-*.dmg
autowiring-*-*.deb
autowiring-*-*.rpm
autowiring-*-*.msi
autowiring.xcodeproj
autowiring/AutowiringConfig.h
*.nupkg
lib/*.*
autowiring-*-*.zip
_CPack_Packages
win64/Autowiring.nuspec
Autowiring.nuspec
.kdev4
autowiring.kdev4
*.opendb
*.orig
*.VC.db*
.vscode
AutowiringVersion.h
