<div class="header section">
  <span class="logo" ng-class="{connected: isConnected(), disconnected: !isConnected()}" ng-click="toggleSubscription()">AutoNet <small ng-show="isSubscribed">Subscribed</small><small ng-show="!isSubscribed">Unsubscribed</small></span>

  <div class="alert alert-warning" style="display:inline; margin-left:40px;" ng-show="isSubscribed && breakpoints | notEmpty">
    Hit breakpoint: <a ng-repeat="point in breakpoints" ng-click="resumeFromBreakpoint(point.name)" class="btn btn-success btn-sm" style="margin-left:10px;">Resume "{{point.name}}"</a>
  </div>

  <ul class="nav nav-pills pull-right">
    <li route-nav="/main"><a ng-href="#/main">Overview</a></li>
    <li route-nav="/edit"><a ng-href="#/edit">Edit</a></li>
    <li route-nav="/raw"><a ng-href="#/raw">Raw</a></li>
  </ul>
</div>