<div class="header section">
  <ul class="nav nav-pills pull-right">
    <li route-nav="/main"><a ng-href="#/main">Overview</a></li>
    <li route-nav="/edit"><a ng-href="#/edit">Edit</a></li>
    <li route-nav="/filtergraph"><a ng-href="#/filtergraph">Filter Graph</a></li>
    <li route-nav="/raw"><a ng-href="#/raw">Raw</a></li>
  </ul>
  <span class="logo" ng-class="{connected: isConnected(), disconnected: !isConnected()}" ng-click="toggleSubscription()">AutoNet <small ng-show="isSubscribed">Subscribed</small><small ng-show="!isSubscribed">Unsubscribed</small></span>
</div>