<div>
  <div class="section">
    <directed-tree nodes="leap.GetContexts()">
    </directed-tree>
  </div>
  <div ng-show="leap.isSubscribed()" class="btn-group pull-right" style="margin-top:10px">
    <lable class="btn btn-primary" ng-model="selectedType" btn-radio="'all'">All</lable>
    <lable class="btn btn-primary" ng-model="selectedType" btn-radio="'contextMember'">ContextMembers</lable>
    <lable class="btn btn-primary" ng-model="selectedType" btn-radio="'coreRunnable'">CoreRunnables</lable>
    <lable class="btn btn-primary" ng-model="selectedType" btn-radio="'eventReceiver'">EventReceivers</lable>
    <lable class="btn btn-primary" ng-model="selectedType" btn-radio="'exceptionFilter'">ExceptionFilters</lable>
    <lable class="btn btn-primary" ng-model="selectedType" btn-radio="'bolt'">Bolts</lable>
  </div>
  <div ng-repeat="(id,context) in leap.GetContexts()" class="section">
    <h3><a ng-href="#/context/{{id}}">{{context.name}}</a></h3>
    <div class="row">
      <div class="col-xs-3" ng-repeat="object in context.objects | TypeFilter:selectedType" style="min-height:250px">
        <h4><a ng-href="#/object/{{id}}/{{object.name}}">{{object.name | Limit:30}}</a></h4>
        <progress ng-if="object.isCoreThread()">
          <bar type="warning" value="object.types.coreThread.kernel+.01"><span ng-hide="object.types.coreThread.kernel < 5">{{object.types.coreThread.kernel}}%</span></bar>
          <bar type="info" value="object.types.coreThread.user"><span ng-hide="object.types.coreThread.user < 5">{{object.types.coreThread.user}}%</span></bar>
        </progress>
        <ul>
          <li ng-repeat="type in object.displayTypes">
            {{type}}
          </li>
          <span ng-if="object.isEventReceiver()" style="font-weight:bold;">Listens to:</span>
          <li ng-repeat="(event,count) in object.types.eventReceiver">{{event}}: {{count}}</li>
          <span ng-if="object.isBolt()" style="font-weight:bold;">Bolts onto:</span>
          <li ng-repeat="bolt in object.types.bolt">{{bolt}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>

