<h1 ng-hide="leap.isSubscribed()">Subscribe to view object</h1>
<div ng-show="leap.isSubscribed()">
  <h1>{{object.name}}</h1>
  <ul>
    <li ng-repeat="(type,data) in object.types | display">
      {{type}}
    </li>
    <span ng-show="object.isEventReceiver()" style="font-weight:bold;">Listens to:</span>
    <li ng-repeat="(event,count) in object.types.eventReceiver">{{event}}: {{count}}</li>
    <span ng-show="object.isBolt()" style="font-weight:bold;">Bolts onto:</span>
    <li ng-repeat="bolt in object.types.bolt">{{bolt}}</li>
  </ul>
  <h3 ng-show="object.slots.length">Slots</h3>
  <ul>
    <li ng-repeat="slot in object.slots | Pluck:'name'">
      {{slot}}
    </li>
  </ul>
</div>