<h1 ng-hide="leap.isSubscribed()">Subscribe to view object</h1>
<div ng-show="leap.isSubscribed()">
  <h1>{{object.name}}</h1>
  <ul>
    <li ng-repeat="type in object.types | display">
      {{type}}
    </li>
    <span ng-show="object.isEventReceiver()" style="font-weight:bold;">Listens to:</span>
    <li ng-repeat="(event,count) in object.events">{{event}}: {{count}}</li>
    <span ng-show="object.hasBolts()" style="font-weight:bold;">Bolts onto:</span>
    <li ng-repeat="bolt in object.boltSigils">{{bolt}}</li>
  </ul>
</div>